$bp: 800px;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.app {
  padding: 3.75vw 0;
  height: 100%;
  min-height: 100vh;
}

.app__inner {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "title"
    "preview"
    "controls";
  justify-items: center;

  @media (min-width: $bp) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      "title preview"
      "controls controls";
  }
}

header {
  grid-area: title;
}

.logo {
  max-width: 400px;

  svg {
    width: 100%;
  }
}

.preview-paragraph {
  width: calc(100% - 2rem);
  max-width: 37.5rem;
  margin: 0 auto 3.75vw auto;
  line-height: 1.4;

  a {
    text-decoration: none;
  }
}

.controls {
  grid-area: controls;
  display: grid;
  grid-template-areas:
    "color-input-text"
    "color-input-link"
    "color-input-bg"
    "underline-control";
  align-items: center;
  justify-content: center;

  @media (min-width: $bp) {
    grid-template-columns: 0.5fr 0.5fr 0.5fr 1fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas:
      "color-input-text color-input-text    . result-card-link-text . color-input-link    color-input-link"
      " .               result-card-text-bg . underline-control     . result-card-link-bg ."
      " .               .                   . color-input-bg        . .                   .";
  }
}

.color-input {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 0.5rem;

  label {
    font-weight: bold;

    span {
      display: block;
    }
  }

  .color-input__inputs-wrapper {
    display: flex;
  }

  [type="text"] {
    max-width: 10rem;
    font-size: 1rem;
    padding: 0.1rem 0.25rem;
  }
}

.color-input--text {
  grid-area: color-input-text;
}

.color-input--link {
  grid-area: color-input-link;
}

.color-input--bg {
  grid-area: color-input-bg;
}

.underline-control {
  grid-area: underline-control;
  text-align: center;
}

.Results {
  max-width: 18rem;
  margin: 2rem auto;
  list-style-type: none;

  border: 1px solid black;
  padding: 1rem;

  li {
    margin-bottom: 0.5rem;
  }

  small {
    display: block;
  }

  @media (min-width: $bp) {
    display: none;
  }
}

.result-card-wrapper {
  position: relative;
}

.result-card {
  display: none;
  z-index: 1;
  position: relative;

  @media (min-width: $bp) {
    display: block;
  }

  width: 150px;
  padding: 10px 20px 20px 20px;
  margin: 0 20px;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  background: lightgray;
  text-align: center;

  h2 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;

    span {
      display: block;
    }
  }
}

@mixin arrow-before($top: 50%, $left: -20px, $rotation: 0) {
  &::before {
    content: "";
    display: block;
    width: 110px;
    height: 33px;
    background-image: url("./arrow-left.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: $top;
    left: $left;
    transform: rotate($rotation);
    opacity: 0.5;
  }
}

@mixin arrow-after($top: 50%, $right: 20px, $rotation: 0) {
  &::after {
    content: "";
    display: block;
    width: 110px;
    height: 33px;
    background-image: url("./arrow-right.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: $top;
    right: $right;
    transform: rotate($rotation);
    z-index: 0;
    opacity: 0.5;
  }
}

.result-card--link-text {
  grid-area: result-card-link-text;

  @media (min-width: $bp) {
    @include arrow-before();
    @include arrow-after();
  }
}

.result-card--bg-text {
  grid-area: result-card-text-bg;

  @media (min-width: $bp) {
    @include arrow-before(-10px, 50px, 60deg);
    @include arrow-after(110px, 0, 60deg);
  }
}

.result-card--bg-link {
  grid-area: result-card-link-bg;

  @media (min-width: $bp) {
    @include arrow-before(-10px, 50px, 120deg);
    @include arrow-after(110px, 130px, 120deg);
  }
}

.ResultEmoji {
  cursor: help;
}

// underline control

$buttonsize: 32px;

.underline-control__toggle {
  position: relative;
  height: $buttonsize;
  padding: 4px ($buttonsize / 2);
  transition: background-color 0.2s ease-in;
  border: 0;
  border-radius: ($buttonsize / 2);
  box-shadow: inset 0 0 1px 2px hsla(0, 0, 0, 0.2);
  color: white;
  font-size: 16px;
  text-align: center;

  // the circle thingy
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: calc(50% - #{$buttonsize / 2});
    width: $buttonsize - 4;
    height: $buttonsize - 4;
    transition: transform 0.2s ease-in;

    @media (prefers-reduced-motion: reduce) {
      transition-duration: 0s;
    }

    border-radius: 50%;
    background-color: lightgray;
    filter: drop-shadow(0 1px 2px hsla(0, 0, 0, 0.3));
  }

  // the text labels
  .enabled,
  .disabled {
    position: relative;
    transition: opacity 0.1s ease-in;
    transition-delay: 0.1s;

    @media (prefers-reduced-motion: reduce) {
      transition-duration: 0s;
      transition-delay: 0s;
    }

    pointer-events: none;
  }

  .enabled {
    left: 0;
  }

  .disabled {
    left: 0;
  }

  &[aria-checked="true"] {
    background-color: black;

    &::before {
      transform: translateX(24px);
    }

    .enabled {
      opacity: 1;
    }

    .disabled {
      opacity: 0;
    }
  }

  &[aria-checked="false"] {
    background-color: #666;

    &::before {
      transform: translateX(-20px);
    }

    .enabled {
      opacity: 0;
    }

    .disabled {
      opacity: 1;
    }
  }
}

footer {
  padding: 20px;
  text-align: center;
}
